In [14]:
import numpy as np
import pandas as pd

from subprocess import check_output
# print(check_output(["ls", "/Data/Instacart"]).decode("utf8"))

In [11]:
%pwd

'C:\\Users\\Jemi\\Work Space'

In [15]:
%cd Data/

C:\Users\Jemi\Work Space\Data

In [18]:
%cd Instacart/

C:\Users\Jemi\Work Space\Data\Instacart

In [19]:
%ls

 Volume in drive C is Windows
 Volume Serial Number is 40E6-E75B

 Directory of C:\Users\Jemi\Work Space\Data\Instacart

08/02/2020  10:47 PM    <DIR>          .
08/02/2020  10:47 PM    <DIR>          ..
08/02/2020  10:44 PM             2,738 aisles_.csv
08/02/2020  10:43 PM               292 departments.csv
08/02/2020  10:45 PM        17,960,020 order_products_prior.csv
08/02/2020  10:45 PM        19,628,007 order_products_train.csv
08/02/2020  10:46 PM        31,623,496 orders.csv
08/02/2020  10:46 PM         2,216,604 products.csv
               6 File(s)     71,431,157 bytes
               2 Dir(s)  192,912,449,536 bytes free

In [21]:
orders = pd.read_csv('orders.csv')
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [22]:
prior = pd.read_csv('order_products_prior.csv')
prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [23]:
train = pd.read_csv('order_products_train.csv')
train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [25]:
order_prior = pd.merge(prior,orders,on=['order_id','order_id'])
order_prior = order_prior.sort_values(by=['user_id','order_id'])
order_prior.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
273913,94891,22199,1,0,4,prior,4,5,13,15.0
273914,94891,25146,2,0,4,prior,4,5,13,15.0
66839,23391,13198,1,1,7,prior,17,0,10,28.0
66840,23391,42803,2,1,7,prior,17,0,10,28.0
66841,23391,8277,3,1,7,prior,17,0,10,28.0

In [ ]:
dfgfgfgfgfgfgfg